article.full
  p.center
    pre
      |+---------------------------------------------------------------------+
      ||              PHP chef tmux                 CouchDB mocha            |
      ||           devops BSD Linux zsh          PHP TYPO3 express           |
      ||         node.js ruby github tmux     ReST webservice devops         |
      ||       git vim CoffeeScript sysops   devops jenkins TDD zsh vim      |
      ||      jenkins webservices devops chef zsh tmux freelancer MySQL      |
      ||      github TDD PHPUnit jenkins mocha jasmine CouchDB zsh mocha     |
      ||      zsh vim tmux BSD express node.js JavaScript PHP TYPO3 tmux     |
      ||      MongoDB PHP TYPO3 ruby jenkins should.js github zsh devops     |
      ||      express node.js connect mocha jasmine CoffeeScript CouchDB     |
      ||      PHPUnit zsh CoffeeScript git MySQL PHP TYPO3 BSD Linux vim     |
      ||       ReST node.js MongoDB PHP sysops BSD Linux chef BDD mocha      |
      ||        CoffeeScript ruby JavaScript freelancer devops jenkins       |
      ||         PHP TYPO3 express jasmine mocha TDD git tmux CouchDB        |
      ||           Linux zsh jenkins backbone.js CoffeeScript sysops         |
      ||            BSD chef CoffeeScript zsh vim tmux jasmine git           |
      ||              node.js devops freelancer mocha ReST sysops            |
      ||                 CouchDB TYPO3 CMS webservices TDD vim               |
      ||                    JavaScript backbone.js express                   |
      ||                       tmux sysops chef vim tmux                     |
      ||                          jenkins PHPUnit zsh                        |
      ||                             CoffeeScript                            |
      ||                                 mocha                               |
      ||                                   z                                 |
      |+---------------------------------------------------------------------+
      |                                                        Love your work.
