!!! html
html(lang='en')
  head
    title kaeufli.ch – #{title}
    meta(charset='utf8')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    != css('lightbox')
    != js('all', {async: true})
    != js('hyphenation', {async: true})
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='icon', href='/images/favicon.ico')
    link(rel='alternate', type='application/atom+xml', title='kaeufli.ch references atom feed', href='http://kaeufli.ch/references/feed.xml')
    include analytics
  body
    if typeof(admin) != 'undefined'
      .admin-warning
          p admin
    include header
    #container!= body
    include footer
