!!! html
html(lang='en')
  head
    title kaeufli.ch – #{title}
    meta(charset='utf8')
    != js('all')
    != js('hyphenation')
    //-link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/screen.css')
    link(rel='stylesheet', href='/lightbox2/stylesheets/lightbox.css')
    link(rel='shortcut icon', href='/images/favicon.ico')
    link(rel='icon', href='/images/favicon.ico')
    include analytics
  body
    if typeof(admin) != 'undefined'
      .admin-warning
          p admin
    include header
    #container!= body
    include footer
