<?xml version='1.0' encoding='utf-8'?>
feed(xmlns="http://www.w3.org/2005/Atom")
  title kaeufli.ch references feed
  link(href="http://kaeufli.ch/references/feed.xml", rel="self")
  link(href="http://kaeufli.ch/references")
  id http://kaeufli.ch/references/feed.xml
  block body
