article.contact
  h1= title
  form(method='POST', action='#')
    fieldset
      label
        span Name:
        input(type='text', name='name', placeholder='John Doe', required)
      label
        span eMail:
        input(type='email', name='email', placeholder='j.doe@example.net', required)
      label
        span Inquiry:
        textarea(rows='30', cols='30', name='inquiry', placeholder='Your message…', required)
      button(type='submit') Send
aside.contact
  h2 Don't like webforms?
  p
    | I strongly believe in Marshal McLuhan’s »The medium is the message«
    | too but I make exceptions for websites.
  p
    | While I handcrafted this simple but elegant form, 
    | you can also reach me by writing an eMail directly
    | to nd [a] kaeufli.ch
  p
    | Or stick to the quote and drop me a letter—the address is on the 
    a(href='/imprint') imprint 
    | .
