article.contact
  h1= title
  p
    | Thank you 
    = name
    |, the inquiry has been sent. Expect a response soon…
  p
    | In the meanwhile, why not browsing the 
    a(href='/references')
      | references
    | ?
