article.full
  form.center(method='post')
    label
      span Username
      input(type='text', name='username')
    label
      span Password
      input(type='password', name='password')
    button(value='login') Login
